@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-height: 1500px;
    background-color: rgb(80, 149, 240);
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p{
    padding: 0;
    margin: 0;
}

.bayan__title{ /*Главный заголовок*/
    display: flex;
    align-items: center;


    font-family: 'Fredoka One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 15px;

    color: #fef722;
}


.bayanBlock{ /*Блок со всем содержимым*/
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    background: white;
    border: 5px solid black;
    border-radius: 30px;
    padding: 30px;
}

.bayanBlock__item{/*Элементы блока*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 3px solid rgb(73, 72, 72);
    width: 400px;
    padding: 0 5px 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.bayanBlock__item__title{ /*Заголовок блоков*/
    display: block;
    position: relative;

    font-family: 'Acme', sans-serif;  
    font-weight: 400;
    font-size: 25px; 

    cursor: pointer;
}

.bayanBlock__item__title:after{ /*Стрелка*/
    content: " ";
    display: block;
    position: absolute;

    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: black transparent;

    top: 50%;
    right: 10px;
    transform: translateX(-50%);
}

.bayanBlock__item:hover{
    color:rgb(80, 149, 240);
} 

.bayanBlock__item__input{
    appearance: none; /*св-во скрывает input*/
}

.bayanBlock__item__img{/*Мем блок*/
    display: none;
    text-align: center;
}

.mem{ /*мем фото*/
    max-width: 200px;
    max-height: 200px;
}

/* Показ скрытого контента */

.bayanBlock__item__input:checked ~ .bayanBlock__item__img {
    display: block; 
} /*Показ контента при нажатии*/

.bayanBlock__item__input:checked ~ 
.bayanBlock__item__title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: black transparent;
} /*Перевернутая стрелка при нажатии*/

.bayanBlock__item__input:checked ~ .bayanBlock__item__title {
    color: rgb(80, 149, 240);
} /*Сохранение цвета шрифта без hover*/